







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');:root { --green: #3CFF15; --black: black; --gray: #3CFF15;}* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Quicksand';}body { background: var(--black); color: var(--green); height: 100vh; display: flex; align-items: center; justify-content: center; overflow: hidden;}canvas { position: absolute; top: 0; left: 0; z-index: -1;}.container { text-align: center; z-index: 1;}.icon { width: 140px; height: 140px; margin-bottom: 20px; animation: rotate3D 6s linear infinite; transform-style: preserve-3d; filter: drop-shadow(0 0 6px var(--green));}@keyframes rotate3D { 0% { transform: rotateY(0deg) rotateX(0deg); } 50% { transform: rotateY(180deg) rotateX(10deg); } 100% { transform: rotateY(360deg) rotateX(0deg); }}h1 { font-size: 4rem; margin-bottom: 10px; position: relative; animation: glitch 2s infinite;}@keyframes glitch { 0%, 100% { transform: none; } 20% { transform: skew(-2deg); } 40% { transform: skew(2deg); } 60% { transform: translateX(2px); } 80% { transform: translateX(-2px); }}p { color: var(--gray); font-size: 1rem; margin-bottom: 25px; max-width: 420px; font-weight: 600; margin-left: auto; margin-right: auto;}a { display: inline-block; padding: 5px 20px; border: 3px solid var(--green); color: var(--green); font-size: 1rem; text-decoration: none; border-radius: 35px; transition: all 0.3s ease; font-weight: 600;}a:hover { background: var(--green); color: var(--black); box-shadow: 0 0 15px var(--green);}@media (max-width: 768px) {p { color: var(--gray); font-size: 1rem; margin-bottom: 25px; max-width: 420px; font-weight: 600; margin-left: auto; padding-left: 15px; padding-right: 15px; margin-right: auto;}}::-webkit-scrollbar { width: 0px; height: 0px;}::-webkit-scrollbar-track { background: transparent;}::-webkit-scrollbar-thumb { background: transparent;}body { scrollbar-width: none; -ms-overflow-style: none; }html { scrollbar-width: none;}